.npg-latex-renderer {
  overflow-x: auto;
  @apply whitespace-pre-wrap;
}

.npg-latex-renderer .katex-display {
  text-align: left;
}

.npg-latex-renderer .katex-display > .katex {
  text-align: left;
}
