.snorkl-latex-renderer {
    overflow-x: auto;
    @apply whitespace-pre-wrap
}

.snorkl-latex-renderer .katex-display {
    text-align: left;
}

.snorkl-latex-renderer .katex-display > .katex {
    text-align: left;
}